In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
!pip install 'eurostat'

Collecting eurostat
  Downloading eurostat-0.2.3-py3-none-any.whl (11 kB)
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from eurostat) (2.27.1)
Collecting pandasdmx<=0.9
  Downloading pandaSDMX-0.9-py2.py3-none-any.whl (45 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.4/45.4 kB 390.8 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (from eurostat) (1.3.5)
Collecting jsonpath-rw
  Downloading jsonpath-rw-1.4.0.tar.gz (13 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from pandasdmx<=0.9->eurostat) (59.8.0)
Requirement already satisfied: lxml in /opt/conda/lib/python3.7/site-packages (from pandasdmx<=0.9->eurostat) (4.8.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas->eurostat) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas->eurostat) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.7/site-packages (from pandas->eurostat) (1.21.6)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.7/site-packages (from requests->eurostat) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->eurostat) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->eurostat) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->eurostat) (1.26.9)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas->eurostat) (1.16.0)
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from jsonpath-rw->pandasdmx<=0.9->eurostat) (5.1.1)
Building wheels for collected packages: jsonpath-rw
  Building wheel for jsonpath-rw (setup.py) ... done
  Created wheel for jsonpath-rw: filename=jsonpath_rw-1.4.0-py3-none-any.whl size=15147 sha256=8fb0ebc37e675d9116ac75f197c40f734ddbb1ffd124015b449d1d2e21488a00
  Stored in directory: /root/.cache/pip/wheels/58/88/2a/8d619cf38d7cf939e54b6ccdece05d31b64b3eb419c11d1ed3
Successfully built jsonpath-rw
Installing collected packages: ply, jsonpath-rw, pandasdmx, eurostat
Successfully installed eurostat-0.2.3 jsonpath-rw-1.4.0 pandasdmx-0.9 ply-3.11
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [4]:
import eurostat
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels as sm
from pandas import DataFrame
import plotly.express as px

df = eurostat.get_data_df("env_ac_tax")
df.head(5)

,tax,unit,geo\time,2020,2019,2018,2017,2016,2015,2014,...,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995
0,ENV,MIO_EUR,AT,7983.35,9058.26,8784.04,8844.75,8384.12,8203.70,7974.95,...,6465.45,6249.50,5959.88,5694.63,5165.67,4710.28,4484.87,4419.03,4051.30,3974.84
1,ENV,MIO_EUR,BE,11602.10,12627.60,12423.80,11996.90,11469.00,10618.10,10254.50,...,7518.30,6796.20,6401.60,6320.60,6167.00,6283.80,5985.54,5945.31,5851.04,5303.99
2,ENV,MIO_EUR,BG,1859.12,1839.15,1470.47,1468.91,1451.17,1351.75,1220.69,...,633.47,526.89,413.01,394.85,400.61,314.87,313.89,116.03,80.05,174.44
3,ENV,MIO_EUR,CH,9030.28,9038.72,8601.46,8527.64,8557.99,8474.15,7264.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ENV,MIO_EUR,CY,533.60,583.70,632.70,608.50,554.20,544.30,534.10,...,505.66,445.30,327.68,318.51,266.78,222.85,209.93,188.62,200.23,198.75